<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>
    <h1>EJS is a cool template engine</h1>
    <p>Hi <%= user.firstname %> <%= user.lastname %></p>

    <% for(const key in students){ %>
        <h2><%= key %> <%= students[key] %></h2>
    <% } %>

    <%
        let html = Object.entries(students).map(([key, value]) => {
            return `<div>${key}: ${value}</div>`;
        });
    %>

    <%- html.join('') %>

</body>
</html>